@import url('https://fonts.googleapis.com/css?family=Ubuntu');
*{
    box-sizing: border-box;
}
body{
    font-family: 'Ubuntu',sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;

}
.bg{
    background: url('https://images.unsplash.com/photo-1637912726453-ac1b61d5fcb3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwxNjN8fHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60')no-repeat center/cover;
    position: absolute;
    top: -30px;
    left: -30px;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    filter: blur(0px);

}
.loading-text{
    font-size: 50px;
    color: #fff;
}